
<aside class="main-sidebar sidebar-default-skin">
    <!-- サイドバー -->
    <section class="sidebar" style="height: auto;">
        <form action="" method="post">
            <!-- サイドバーメニュー -->
            <ul class="sidebar-menu tree sortable" data-widget="tree">
                <li>
                <div class="sidemenu">
                    <i class="fa fa-folder"></i> <span>フォルダ</span>
                    <a href="#">
                        <span class="sidebar-folder-create">
                            <i class="far fa-plus-square"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="sidebar-folder-edit">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                </div>
                </li>
                <li class="treeview sortable-item sidebar-folder">
                    <a href="#" class="text-ellipsis sidemenu">
                        <i class="fa fa-pie-chart"></i>
                        <!-- <i class="fas fa-info-circle d-inline-block d-md-none"></i> -->
                        <span class="sidebar-folder-name">技術</span>
                        <span class="hide sidebar-folder-note">HTML開発系のリンク集</span>
                    </a>
                </li>
                <li class="treeview sortable-item sidebar-folder">
                    <a href="#" class="text-ellipsis sidemenu">
                        <i class="fa fa-pie-chart"></i>
                        <!-- <i class="fas fa-info-circle d-inline-block d-md-none"></i> -->
                        <span class="sidebar-folder-name">Googleオンラインサービス関連のリンク</span>
                        <span class="hide sidebar-folder-note">GoogleDrive、Gmailなどのリンク集</span>
                    </a>
                </li>
            </ul>
            <input type="hidden" id="result" name="result" />
            <button id="submit" style="display:none">ソート確定</button>
        </form>
    </section>
</aside>
<!-- /サイドバー -->
<!-- メインコンテンツ -->
<div class="content-wrapper">
    <div class="row">
        <!-- コンテンツヘッダー -->
        <div class="col-12">
            <div class="content-header">
                <div class="row">
                    <div class="col-6">
                        <div class="text-ellipsis">
                            <span class="content-header-folder-name">
                                Googleオンラインサービス関連のリンク
                            </span>
                            <span class="hide content-header-folder-note">
                                GoogleDrive、Gmailなどのリンク集
                            </span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="content-header-actions">
                            <a href="#" class="content-header-folder-info">
                                <i class="fas fa-info-circle content-header-action"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-plus-square content-header-action"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-edit content-header-action"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-trash-alt content-header-action"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-line content-header-action"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter content-header-action"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-copy content-header-action"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- リンク -->
        <div class="col-12">
            <div class="link-box-area">
                <div class="row">
                    <div class="link-box col-12">
                        <div class="row">
                            <div class="link-name col-lg-5 col-6">
                                <a href="#">
                                    <div class="text-ellipsis">
                                        <img src="http://www.google.com/s2/favicons?domain=www.google.com"> Google
                                    </div>
                                </a>
                            </div>
                            <div class="hide link-note">
                                Google検索
                            </div>
                            <div class="link-url col-lg-4 d-none d-lg-inline">
                                <a href="#">
                                    <div id="link-url-for-copy" class="text-ellipsis">
                                        https://www.google.co.jp/
                                    </div>
                                </a>
                            </div>
                            <div class="link-actions col-lg-3 col-6">
                                <div class="link-actions">
                                    <a href="#" class="link-info">
                                        <i class="fas fa-info-circle link-action"></i>
                                    </a>
                                    <a href="#" data-toggle="modal" data-target="#link-edit-modal">
                                        <i class="fas fa-edit link-action"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fas fa-trash-alt link-action"></i>
                                    </a>
                                    <a href="https://social-plugins.line.me/lineit/share?comment=test?url=https://www.google.co.jp/" target="_blank">
                                        <i class="fab fa-line link-action"></i>
                                    </a>
                                    <a href="https://twitter.com/intent/tweet?text=Google%0a%0aGoogle検索%0ahttps://www.google.co.jp/%0a%0aLinkSからの共有" target="_blank">
                                        <i class="fab fa-twitter link-action"></i>
                                    </a>
                                    <a href="#" class="url-copy" data-clipboard-target="#link-url-for-copy">
                                        <i class="fas fa-copy link-action"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 詳細エリア -->
    <div class="detail-area">
        <div class="detail-area-title">
            テスト用のエリア
        </div>
        <div class="detail-area-sub-title">
            テスト用エリア
        </div>
        <div class="detail-area-note">
            テスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリア
            テスト用のエリア
        </div>
    </div>
    <!-- フォルダー登録モーダル -->
    <div class="modal fade" id="folder-create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">フォルダー</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body text-muted">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-lg">
                                                <i class="fa fa-folder"></i>
                                            </span>
                                        </div>
                                        <input type="text" name="folder[name]" id="input-folder-name-form" class="form-control" placeholder="フォルダー名称">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-lg">
                                                <i class="fas fa-sticky-note"></i>
                                            </span>
                                        </div>
                                        <textarea name="folder[note]" id="input-folder-note-form" class="form-control" placeholder="メモ"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="#" target="_blank">登録</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- リンク変更モーダル -->
    <div class="modal fade" id="link-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ブックマーク</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body text-muted">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-lg">
                                                <i class="fas fa-link"></i>
                                            </span>
                                        </div>
                                        <input type="text" name="link[url]" id="input-link-url-form" class="form-control" placeholder="サイトのURL">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-lg">
                                                <i class="fas fa-bookmark"></i>
                                            </span>
                                        </div>
                                        <input type="text" name="link[name]" id="input-link-name-form" class="form-control" placeholder="ブックマーク名称">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-lg">
                                                <i class="fas fa-sticky-note"></i>
                                            </span>
                                        </div>
                                        <textarea name="link[note]" id="input-link-note-form" class="form-control" placeholder="メモ"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="#" target="_blank">変更</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>