
<aside class="main-sidebar sidebar-default-skin">
    <!-- サイドバー -->
    <section class="sidebar" style="height: auto;">
        <form action="" method="post">
            <!-- サイドバーメニュー -->
            <ul class="sidebar-menu tree sortable" data-widget="tree">
                <li>
                <div class="sidemenu">
                    <i class="fa fa-folder"></i> <span>フォルダ</span>
                    <a href="#">
                        <span class="sidebar-folder-create">
                            <i class="far fa-plus-square"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="sidebar-folder-edit">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                </div>
                </li>
                <li class="treeview sortable-item sidebar-folder">
                    <a href="#" class="text-ellipsis sidemenu">
                        <i class="fa fa-pie-chart"></i>
                        <!-- <i class="fas fa-info-circle d-inline-block d-md-none"></i> -->
                        <span class="sidebar-folder-name">技術</span>
                        <span class="hide sidebar-folder-note">HTML開発系のリンク集</span>
                    </a>
                </li>
                <li class="treeview sortable-item sidebar-folder">
                    <a href="#" class="text-ellipsis sidemenu">
                        <i class="fa fa-pie-chart"></i>
                        <!-- <i class="fas fa-info-circle d-inline-block d-md-none"></i> -->
                        <span class="sidebar-folder-name">Googleオンラインサービス関連のリンク</span>
                        <span class="hide sidebar-folder-note">GoogleDrive、Gmailなどのリンク集</span>
                    </a>
                </li>
            </ul>
            <input type="hidden" id="result" name="result" />
            <button id="submit" style="display:none">ソート確定</button>
        </form>
    </section>
</aside>
<!-- /サイドバー -->
<!-- メインコンテンツ -->
<div class="content-wrapper">
    <!-- ブックマーク -->
    <div class="link-box">
    </div>
    <!-- 詳細エリア -->
    <div class="detail-area">
        <div class="detail-area-title">
            テスト用のエリア
        </div>
        <div class="detail-area-note">
            テスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリアテスト用のエリア
            テスト用のエリア
        </div>
    </div>
</div>