-# Google Font(Comfortaa )
%link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Comfortaa"}
-# Google Font(Londrina+Shadow)
%link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Londrina+Shadow"}
-# Google Font(MPlus 1p)
%link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"}