.jumbotron.jumbotron-fluid.management-jumbotron
  .container
    %h1 LinkS管理画面
    %p.lead
      本ページは管理者以外にアクセスができません。
      %br
      システムに影響を与える処理は慎重に操作を行ってください。
.container
  .row
    .col-12
      %a{"href" => "/management/news", "class" => "management-link-menu"}
        .management-menu-news
          %span.news-link-title
            News ...
          %span.news-link-content
            サイトトップページに表示するニュースの登録・変更・削除を実行する